{% extends "base.html" %}

{% block content %}
  <!-- Slider Code Starts -->
  <div class="container-fluid">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://img.freepik.com/free-photo/student-sharing-her-knowledge-with-her-colleagues_329181-8498.jpg?w=1480&t=st=1708960153~exp=1708960753~hmac=966dec6c894251da1a8657fe9fd21b7e4aa5b56aeaa5ec59f96b62a8e5f69d4f"
            class="d-block w-100" style="height: 800px;" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://img.freepik.com/free-photo/man-surrounded-by-smart-students-with-books-looking-camera_23-2148166282.jpg?w=1480&t=st=1708960157~exp=1708960757~hmac=808de9d629e66f71649c09c2592a524acdb646dbb623d613f9b6b71ac974dd24"
            class="d-block w-100" style="height: 800px;" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://img.freepik.com/free-photo/three-couples-walking-after-school_329181-8459.jpg?w=1800&t=st=1708960181~exp=1708960781~hmac=731179440d556910c3d8ed03e6e3ac91e3756db266b7d4bc1c5eace4601b82c0"
            class="d-block w-100" style="height: 800px;" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Slider Code Starts Ends-->

  <!-- Section Code Starts -->
  <div class="container-fluid my-3">
    <div class="row">
      <div class="col-md-4">
        <img
          src="https://img.freepik.com/free-photo/smiling-student_1301-114.jpg?w=1480&t=st=1708960739~exp=1708961339~hmac=a9b02faac22352c9dead3f68ef2fd8d81422ee725e8a61918af5f5dce861fea2"
          class="d-block w-100" style="height: 400px;" alt="">
      </div>
      <div class="col-md-8">
        <h1>Welcome to Vidyut Bharati Engineering College: Empowering Future Engineers</h1>
        <p>Welcome to Vidyut Bharati Engineering College, where innovation meets excellence in engineering education.
          Nestled in the heart of India, our college is dedicated to shaping the future leaders of the engineering
          industry. With a commitment to academic rigor and practical learning, we offer a diverse range of engineering
          courses tailored to meet the evolving demands of the modern world.</p>
        <p>At Vidyut Bharati, we believe in fostering a dynamic learning environment that empowers students to explore
          their passion for engineering and unleash their full potential. Our experienced faculty members are not just
          mentors but also industry experts who impart knowledge and skills that are relevant and valuable in today's
          competitive landscape.</p>
        <p>Whether you aspire to specialize in computer science, electrical engineering, mechanical engineering, civil
          engineering, or any other field, Vidyut Bharati Engineering College provides the resources, facilities, and
          support needed to succeed. From state-of-the-art laboratories to collaborative project spaces, we ensure that
          our students have access to the latest technologies and tools to thrive in their academic journey.</p>
        <p>Join us at Vidyut Bharati Engineering College and embark on a transformative educational experience that will
          prepare you to become a leader and innovator in the field of engineering.</p>
      </div>
    </div>
  </div>
  <!-- Section Code Ends -->

  <!-- Courses Code Starts -->
  <div class="container-fluid">
    <h2 class="text-center">Our Popular Courses</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="images\image1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="images\image2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="images\image3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="images\image4.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="images\image5.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="images\image6.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="images\image7.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="images\image8.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Course Code Ends -->


{% endblock content %}